# Python cache
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.venv/

# OS files
.DS_Store
Thumbs.db

# Large/raw temporary files
*.zip
*.tar.gz

# Logs
*.log